@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gluten&display=swap');

body {
  font-family: 'Bebas Neue', cursive;
}

#menu {
  display: none;
  align-items: center;
}

#menu h2 {
  color: rgb(255, 255, 255);
  margin-right: 20px;
  font-size: 40px;
  text-transform: lowercase;
  font-family: 'Are You Serious', cursive;
  transform: scaleY(2);
}

#menu img {
  width: 150px;
  height: 100px;
  margin-right: 30px;
  transform:scaleX(-1);
}

#input-container input {
  background-image: url('img/lupa.png');
  background-size: 30px;
  background-repeat: no-repeat;
}

#input-container {
  background-color: rgb(219, 149, 221);
  box-shadow: inset 0 0 1em rgb(248, 89, 214), 0 0 1em rgb(117, 107, 107);
  padding: 20px 0;
}

#input-container-filho {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0 0 .5em rgb(248, 89, 214), 0 0 1em rgb(117, 107, 107);
  align-items: center; 
  padding: 8px 0;
}

#input {
  margin-left: 15px;
  margin: 10px;
  width: 615px;
  font-size: 25px;
  padding-left: 45px;
  background-position: 10px;
}

#btn-input {
  width: 150px;
  height: 30px;
  line-height: 36px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px black;
  cursor: pointer;
  font-size: 20px;
  padding-bottom: 35px;
  background-color: rgb(204, 18, 211);
  color: rgb(255, 255, 255);
}

#btn-input:hover {
  background-color: rgb(204, 18, 211, .6);
}

#total {
  text-align: end;
  margin-right: 20px;
}

.btn-active:active {
  margin: 2px 0 0 2px;
  box-shadow: 1px 1px 5px black;
}

button.empty-cart {
  background-image: url('img/lixo.png');
  background-repeat: no-repeat;
  background-position: 90%;
  background-size: 25px;
}

.empty-cart {
  width: 300px;
  height: 10px;
  margin-left: auto;
  margin-right: auto;
  line-height: 36px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px black;
  cursor: pointer;
  font-size: 18px;
  padding-bottom: 35px;
  background-color: rgb(213, 92, 218);  
  color: rgb(255, 255, 255);
}

.empty-cart:active {
  box-shadow: 1px 1px 5px black;
}

.loading {
  margin-left: 150px;
  font-size: 25px;
}

.start-img {
  z-index: 10;
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgb(255, 255, 255);
  padding: 35.6vh 41vw;
}

.img-product {
  margin-top: 150px;
}

.img-add-product {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  border-radius: 5px;
  box-shadow: inset 0 0 1em rgb(248, 89, 214), 0 0 1em rgb(117, 107, 107);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  width: 100%;
}

.item .item__add {
  color: rgb(255, 255, 255);
  font-weight: bold;
  background-color: rgb(204, 18, 211);
  border: 0;
  border-radius: 0 0 2px 3px;
  cursor: pointer;
  margin: 0;
  padding: 5px;
}

.item .item__add:hover {
  background-color: rgba(159, 47, 163, 0.8);
}

.cart {
  box-shadow: inset 0 0 1em rgb(248, 89, 214), 0 0 1em rgb(117, 107, 107);
  margin-top: 5px;
  border-radius: 5px;
  height: auto;
  padding: 15px;
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
}

.cart .cart__title {
  flex-basis: 1;
  font-size: 16pt;
  text-align: center;
}
